# data - too large for git
data/*
!data/.gitkeep

# outputs
labels/*
!labels/.gitkeep

results/*
!results/.gitkeep


# python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
.ipynb_checkpoints/


# editor
.vscode/


# system
.DS_Store
Thumbs.db